<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="RollingFileAppender" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="${catalina.home}/logs/catalina.log"/>
        <param name="Encoding" value="UTF-8"/>
        <param name="MaxFileSize" value="10240KB"/>
        <param name="Append" value="true"/>
        <param name="MaxBackupIndex" value="10"/>
        <param name="ImmediateFlush" value="false"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss\} %-5p] {%c:%L} - %m%n"></param>
        </layout>
    </appender>

    <!--关闭HttpClint日志[防止打印太多无用日志]-->
    <logger name="org.apache.commons.httpclient">
        <level value="fatal"/>
    </logger>
    <logger name="httpclient.wire.header">
        <level value="fatal"/>
    </logger>
    <logger name="httpclient.wire.content">
        <level value="fatal"/>
    </logger>

    <category name="com.jd.bdp" additivity="false">
        <priority value="debug"/>
        <appender-ref ref="RollingFileAppender"/>
    </category>

    <root>
        <priority value="debug"/>
        <appender-ref ref="RollingFileAppender"/>
    </root>
</log4j:configuration>